@media screen and (min-width:1400px){
    .container{
        max-width: 1340px;
    }
}

@media screen and (max-width:992px){
    .image-same-height {
        height: auto;
    }
}

@media screen and (max-width:768px){
    section.case-banner .case-informations{
        gap: 2rem;
        padding: 1.5rem 0px 1.5rem 3rem;
    }

    section.selected-work .work-header {
        padding: 3rem;
    }
}

@media screen and (max-width:540px){
    header.nav-up {
        top: -85px;
    }

    header{
        height: fit-content;
    }

    header nav {
        height: 85px;
        background-color: white;
    }

    header nav ul {
        padding: 0px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1.25rem;
    }

    header nav ul li.menu {
        gap: 5rem;
    }

    section.case-banner {
        padding: 9rem 0px 5rem 0px;
        margin-top: 6.5rem;
    }

    section.case-banner h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    main.case-content .container{
        gap: 3rem;
    }

    section.case-banner .case-informations {
        flex-direction: column;
        padding: 2rem 1rem 0px 1rem;
        gap: 0rem;
    }

    section.case-banner .case-informations div{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    section.case-banner .case-informations div:not(:last-child){
        margin-bottom: 2rem;
    }

    section.case-banner .case-informations div h3{
        margin: 0;
    }

    section.case-banner .case-informations div p{
        text-align: right;
        max-width: 200px;
    }

    section.selected-work .work-header {
        padding: 3rem 2rem;
    }

    section.about {
        padding: 5rem 0px;
    }

    section.banner {
        padding: 9rem 0px;
        margin-top: 6.5rem;
    }

    section.banner h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .image-same-height {
        height: auto;
    }
}
