*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Neue Montreal", sans-serif;
}

html.xx{
    font-size: 16px;
}

div.font-selector{
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 999999;
    background-color: #2F2F35;
    border-radius: 1rem;
    padding: 1rem;
}

div.font-selector p{
    color: white;
    font-size: 1rem;
    margin: 0;
}

div.font-selector number{
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

div.font-selector button{
    width: 100%;
    font-size: 1rem;
    border: 0;
}

.mb-8{
    margin-bottom: 4rem!important;
}

header{
    width: 100%;
    height: 120px;
    
    position: fixed;
    top: 0px;
    background: #FFF;
    transition: top 0.2s ease-in-out;
    z-index: 9999;
}

header.nav-up {
    top: -120px;
}

header.nav-down {
    box-shadow: 2px 2px 10px rgba(149, 157, 165, 0.2);
}

header h1{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

header nav{
    height: 120px;
    background-color: white;
}

header nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li.menu{
    display: flex;
    gap: 3.75rem;
}

header nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;

    color: #111115;
    transition: 0.3s all;
}

header nav ul li a:hover{
    color: gray;
}

header nav ul .menu-toggle{
    background: none;
    border: none;
    cursor: pointer;
}

header nav ul .menu-toggle .menu-toggle-icon{
    pointer-events: none;
}

header nav ul .menu-toggle .menu-toggle-content{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 100%;
    background-color: #111115;
    z-index: 999;
}

header.nav-up nav ul .menu-toggle .menu-toggle-content{
    display: none!important;
}

header nav ul .menu-toggle .menu-toggle-content a{
    display:block;
    padding: 1rem 0.5rem;
    color: #FFF;
}

header nav ul .menu-toggle .menu-toggle-content hr{
    background-color: #FFF;
}

header nav ul .menu-toggle.active .menu-toggle-content{
    display: block;
}

/* SECTIONS */

section.banner{
    padding: 9.4rem 0px;
    margin-top: 6rem;
}

section.banner h1{
    margin: 0;
    font-size: 2.50rem;
    font-weight: 500;
    line-height: 3.25rem;
    color: #111115;
}

section.selected-work h2{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

div.line-through{
    margin-top: 1.25rem;
    height: 1.5px;
    background-color: #BDBDC1;
}

section.selected-work .work-header{
    padding: 4rem 7rem;
}

section.selected-work .work-header h3{
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

section.selected-work .work-header p{
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #2F2F35;
}

section.selected-work .work-header span{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    color: #97979D;
}

section.about{
    padding: 9.4rem 0px;
}

section.about h2{
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

section.about p{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #111115;
}

section.about p strong{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #111115;
}

/* CASE SECTIONS */

section.case-banner{
    padding: 4rem 0px 6.25rem 0px;
    margin-top: 7.5rem;
}

section.case-banner h1{
    margin: 0;
    font-size: 2.50rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111115;
}

section.case-banner h2{
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.50rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

section.case-banner .case-description{
    margin-top: 5rem;
}

section.case-banner .case-description p{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #000000;
}

section.case-banner .case-informations{
    padding: 1.5rem 0px 1.5rem 5.75rem;
    display: flex;
    gap: 8rem;
    margin-bottom: 4.75rem;
}

section.case-banner .case-informations strong{
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

section.case-banner .case-informations p{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    color: #7C7A77;
}

/* MAIN CONTENT */

main.case-content .container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

main.case-content h2.case-title{
    margin: 0;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    color: #111115;
}

main.case-content p.case-description{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #000000;
}

main.case-content ul.case-description-list li{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.688rem;
    color: #000000;
}

main.case-content ul.case-description-list li strong{
    font-size: 1.25rem;
    line-height: 1.688rem;
}

main.case-content q.case-quote{
    display: block;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #000000;
}

.border-image{
    border-radius: 2.5rem;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
}

.border-image img{
    transform: scale(1.02);
}

.border-image.pottr{
    border-color: #875A3E;
}

.border-image.kill-that-noise{
    border-color: #AA1017;
}

.border-image.goexpp{
    border-color: #094835;
}

/* FOOTER */

footer{
    background-color: #2F2F35;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

footer p{
    font-size: 1.125rem;
    color: #E5E5E7;
}

footer nav ul li a{
    font-size: 1.25rem;
    color: #E5E5E7;
    transition: 0.3s all;
}

footer nav ul li a:hover{
    font-size: 1.25rem;
    color: gray;
}